<?xml version = "1.0"?>
<root>
  <meta>
    <type>app</type>
  </meta>

  <body>
    <scriptUrls>
      <item>/public/codeStepperContent/javascript-gyakorlo-feladatsor/drag-and-drop-tobb/script.js</item>
    </scriptUrls>
    <styleUrls>
      <item>/public/codeStepperContent/javascript-gyakorlo-feladatsor/drag-and-drop-tobb/style.css</item>
    </styleUrls>
    <content>

      <h1 class="text-center display-6"><b>4. Feladat:</b></h1>
      <p class="text-center">
        Módosítsd az előző részben épített drag and drop appot úgy, hogy tetszőleges számú dobozra működjön!
      </p>
      <p class="text-center">
        Segítségnek meg van adva, hogy milyen felépítésűre érdemes módosítanod a state változót!<span class="text-danger fw-bold fs-3">*</span>
      </p>
      <p class="text-center mb-3">
        A megvalósítást lent találod!
      </p>

      <div class="row">
        <div class="col-sm-6">
          <div id="log">..</div>

        </div>
        <div class="col-sm-6">
          <div id="drag-and-drop-app" style="min-height: 500px;">...</div>
        </div>

      </div>

    </content>
  </body>
</root>
