<main class="main-content" style="background: #303030">
	{{sidebar | raw}}

	<div class="content-body">
		<div class="col-sm-12">

			<div class="card-body w-100 p-0" id="hero-spot2">
				<div class="row">
					<div class="col-sm-6 m-auto">
						<p class="mb-2 p-2 text-center text-white">
							Page not found
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>

</main>
