<button class="open-website-links-modal btn btn-sm btn-outline-warning d-inline-block mx-1" data-schema-url="/public/codestepper-files/{{codeStepper.slug}}">
  Add to website
  <i class="fa fa-code"></i>
</button>
<form action="/codestepper-delete/{{codeStepper.slug}}" method="POST" class=" d-inline-block">
  <button type="submit" class="btn btn-sm btn-outline-danger mx-1">
    Delete project
    <i class="fa fa-trash"></i>
  </button>
</form>
