<button class="open-website-links-modal btn btn-outline-warning d-inline-block" data-schema-url="/public/codestepper-files/{{codeStepper.slug}}">
  Add to website
  <i class="fa fa-code"></i>
</button>
<form action="/codestepper-delete/{{codeStepper.slug}}" method="POST" class="w-25 d-inline-block">
  <button type="submit" class="btn btn-outline-danger">
    Delete
    <i class="fa fa-trash"></i>
  </button>
</form>
