<main class="main-content">
	{{sidebar | raw}}


	<div class="content-body">
		<div class="col-sm-12">
			<div class="card p-3 bg-transparent-70">
				<div class="card-body">
					<div class="card-title">
						<h1 class="lead text-center p-2 display-5" style="letter-spacing: -0.04em">
							<span>Cookie Policy</span>
						</h1>
					</div>
					<div class="card-title">
						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">Information about cookie management</h1>
						<p>
							We use cookies (hereinafter referred to as cookies) on our website. These are files that store information
							            in your web browser. This requires your consent. Cookies are used in accordance with the Electronic Communications Act of 2003.
							            Act C of 2008, electronic commercial services related to the information society
							            CVIII of 2001 on certain issues of services law and the regulations of the European Union
							            we use it properly. Websites that operate within the countries of the European Union use cookies
							            for their use and for their storage on the user's computer or other device
							            they must ask for your consent.
						</p>
						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">1. Policy for the use of cookies</h1>
						<ol>
							<li>This policy applies to domain name website cookies.</li>
						</ol>
						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">2. What are cookies?</h1>
						<ol>
							<li>
								Cookies are small files that contain letters and numbers. The cookie is the web server and the
								              means of information exchange between the user's browser. These data files are not executable, no
								              contain spyware and viruses and cannot be accessed by users
								              to your hard drive contents.
							</li>
						</ol>

						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">3. What can cookies be used for?</h1>
						<ol>
							<li>
								With the help of information sent by cookies, internet browsers can be recognized more easily, so that
								              users receive relevant and personalized content. Cookies make it more convenient
								              browsing, including online data security needs and relevant advertising. THE
								              with the help of cookies, website operators can also create anonymous statistics
								              about the habits of site visitors. By using these, the editors of the site can customize it even more
								              the appearance and content of the site.
							</li>
						</ol>

						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">4. What cookies can you encounter?</h1>
						<ol>
							<li>Websites can use two types of cookies:</li>
							<li>Temporary cookies that remain on your device until you leave the website.</li>
							<li>
								They are permanent cookies, which, depending on the settings of your web browser, last for a longer period of time or until that time
								              they remain on your device until you delete them.
							</li>
							<li>
								Third-party cookies placed in your browser by a third party (e.g. Google
								              Analytics). These are placed in your browser if the visited website
								              use services provided by third parties.
							</li>
							<li>
								Indispensable session (session-id) cookies: The use of these is essential on the website
								              for navigation, for the functioning of the website's functions. Without accepting them, the website or some of it
								              parts of it may not appear or appear incorrectly.
							</li>
							<li>
								Analytical or performance monitoring cookies: These help us distinguish the website
								              visitors and collect data about how visitors behave on the website. With these
								              we use cookies to ensure, for example, that the website remembers your login in the cases you request.
								              They do not collect information that can identify you, the data is aggregated and stored anonymously. (
								              e.g.: Google Analytics)
							</li>
							<li>
								Functional cookies: The purpose of these cookies is to improve the user experience. They detect and store, for example, that
								              What device did you use to open the website or the data you previously provided and requested to be stored:
								              for example, automatic login, the chosen language, the text size, font, or other aspects of the website
								              User changes made by you in your customizable element. These cookies do not track you
								              your activity on other websites. However, they may be in the information they collect
								              personally identifiable information that you have shared.
							</li>
							<li>
								Targeted or advertising cookies:With their help, the websites are the most suitable for your interests
								              they can provide information (marketing). This requires your express consent. These are the cookies
								              they collect detailed information about your browsing habits.
							</li>
						</ol>

						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">5. Do cookies contain personal data?</h1>
						<ol>
							<li>
								Most cookies do not contain personal information and cannot be used to identify users. THE
								              stored data are necessary for more convenient browsing, they are stored in a way that is unauthorized
								              person cannot access them.
							</li>
						</ol>

						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">6. Why are cookies important on the Internet?</h1>
						<ol>
							<li>
								- Displaying content, services and products tailored to the user's needs. - The user
								              offers tailored to your interests. - In the case you requested, a comment on the login
								              (Stay signed in). - Comment on child protection filters for Internet content (family
								              mode options, safe search functions). - Limiting the frequency of advertisements; i.e., an advertisement
								              numerical limitation of its display on the website provided to the user. - For the user
								              displaying relevant advertisements. - Geotargeting
							</li>
						</ol>

						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">
							7. Factors related to security and data security.
						</h1>
						<ol>
							<li>
								Cookies are not viruses or spyware. Since they are plain text files, they cannot be run, so no
								              can be considered programs. However, it may happen that they hide it with a different intention (maliciousness).
								              information in the cookie, so they can act as spyware. For this reason, antivirus and anti-virus programs a
								              cookies can be permanently deleted.
							</li>
							<li>
								Since the device used to browse the Internet and the web servers communicate continuously, so
								              data is sent back and forth, so if an attacker (hacker) intervenes in the process, he can extract the cookies
								              information stored by One of the reasons for this could be, for example, improperly encrypted internet
								              (WiFi) setting. Using this gap, they can extract data from cookies.
							</li>
						</ol>

						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">8. Managing and deleting cookies</h1>
						<ol>
							<li>
								Cookies can be deleted or disabled in the browser programs used. By default in browsers
								              cookies are allowed. This can be disabled in the browser settings, as well as the existing ones
								              delete. In addition, it is also possible to set the browser to send a notification to the user when
								              sends a cookie to the device. However, it is important to emphasize that blocking or restricting these files will make it worse
								              the browsing experience, and errors may also occur in the functionality of the website.
							</li>
							<li>
								- The setting options are usually found in the Options or Settings menu of the browser.
								              Each web browser is different, so please use the appropriate settings. use the search engine "Help
								              menu and the following links to change cookie settings: Cookie settings in Internet
								              Explorer Cookie settings in Firefox Cookie settings in Chrome Cookie settings in Safari - The anonymous Google
								              To disable analytics cookies, you can install a so-called Google Analytics plug-in
								              into your browser, which prevents the website from sending information about you to Google
								              For analytics. You can find more information about this at the following links: Google Analytics &
								              Privacy or Google Principles and Guidelines
							</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>

</main>
