<div class="my-2 content-body">
	<div class="col-sm-12">
		<div class="card">
			<div class="card-body w-100 p-0" id="hero-spot2">
				<div class="row">
					<div class="col-sm-6 m-auto">
						<p class="mb-2 p-2">
							Add meg az új jelszót.
						</p>
						<form class="_2bCMA p-2" method="post" action="/api/patch-subscriber-password?referer={{referer}}">
							<div class="_30AVd ">
								<div class="sc-gzVnrw geGmQK">
									<div class="sc-dnqmqq djVjby">
										<div class="sc-iwsKbI jFkMBx">
											<input type="hidden" name="token" value="{{token}}"/>
											<div class="I9NYm _3z-_p db1GS">
												<label class="_3Xmck _1Bymy" for="login_email">Jelszó</label>
												<input type="password" name="password" required="" maxlength="128" class="_2lU9f db1GS _1Bymy">
											</div>
										</div>
										<div class="">
											<div class="sc-EHOje WoJQA" data-animation-wrapper="true" style="max-height: 0rem;">
												<span class="_18vKK EDGQF sc-bdVaJa bhhGJv" format="dark" role="alert"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div>
								<button class="_3jJ8O sc-htpNat fMQhWV" format="primary" id="login_signup_button" type="submit">
									<span class="sc-bxivhb jrbrfM">Tovább</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
