<footer class="page-footer p-2" style="background-color: black;">
  <div class="row m-0 p-0 py-2">
    <div class="col-sm-6 m-auto text-white">
      <ul class="site-footer-links mb-2 mb-md-0 d-flex">
        <!-- <li><span class="text-gradient">CodeSteppers © 2022</span></li> -->
        <br />
        <small class="text-gradient" style="font-size: 1.8em">
          CodeSteppers was made by Kódbázis
        </small>
      </ul>
    </div>
    <div class="col-md-6 m-auto">
      <div class="row m-0 p-0">
        <div class="col-md-6 p-0 mb-2 mb-md-0">
          <!-- <script src="https://apis.google.com/js/platform.js"></script> -->
          <script src="/public/js/yt-platform.js"></script>

          <div class="bg-white p-2 me-0 me-md-2">
            <div
              class="g-ytsubscribe"
              data-channelid="UCRNRqohbalZqwuQCb_zawcg"
              data-layout="full"
              data-count="default"
            ></div>
          </div>
        </div>
        <div class="col-md-6 p-0 bg-white">
          <div id="fb-root bg-white p-2"></div>
          <script
            async
            defer
            crossorigin="anonymous"
            src="https://connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v9.0&appId=705894336804251&autoLogAppEvents=1"
            nonce="ctG5Szuh"
          ></script>
          <div
            class="fb-page w-100"
            data-href="https://www.facebook.com/kodbazis/"
            data-tabs=""
            data-width="300"
            data-height="50"
            data-small-header="true"
            data-adapt-container-width="true"
            data-hide-cover="true"
            data-show-facepile="false"
          >
            <blockquote cite="https://www.facebook.com/kodbazis/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/kodbazis/">Kódbázis</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
