<main class="main-content">
	<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 208px;">
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="/edit" class="nav-link text-white">
					<i class="fa fa-edit mx-1"></i>
					<span>Editor</span>
				</a>
			</li>
			<li>
        <a href="/sign-up" class="nav-link text-white">
          <i class="fa fa-user mx-1"></i>
          <span>Sign up for free</span>
        </a>
      </li>
			<li>
				<a href="#" class="nav-link text-white">
					<i class="fa fa-question mx-1"></i>
					<span>Support</span>
				</a>
			</li>
			<hr>

		</ul>
	</div>

	<div class="b-example-divider"></div>

	<div class="mb-3 content-body">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body w-100 p-0" id="hero-spot2">

					<div class="row">
						<div class="col-sm-6 m-auto">
							{% if emailSent %}
								<h2 class="text-success text-center">
									<span>Success!
										<i class="fa fa-check-circle"></i>
									</span>
								</h2>
								<p class="mb-2 p-2 text-success text-center">
									Instructions has been sent.
									<br>
									Please check your email!
								</p>
							{% else %}
								{% if isError %}
									<div class="alert alert-danger p-1 pe-2 ps-2">
										<p style="font-size:14px">
											There was an error, please try again!
										</p>
									</div>
								{% endif %}
								<p class="mb-2 p-2">
									Give us the email address you use to log in and we'll send you instructions for resetting your password.
								</p>
								<form class="_2bCMA p-2" method="post" action="/api/forgot-password?referer={{referer}}">
									<div class="_30AVd ">
										<div class="sc-gzVnrw geGmQK">
											<div class="sc-dnqmqq djVjby">
												<div class="sc-iwsKbI jFkMBx">
													<div class="I9NYm _3z-_p db1GS">
														<label class="_3Xmck _1Bymy" for="login_email">Email</label>
														<input type="email" name="email" value="{{email}}" required="" maxlength="128" class="_2lU9f db1GS _1Bymy" id="login_email">
													</div>
												</div>
												<div class="">
													<div class="sc-EHOje WoJQA" data-animation-wrapper="true" style="max-height: 0rem;">
														<span class="_18vKK EDGQF sc-bdVaJa bhhGJv" format="dark" role="alert"></span>
													</div>
												</div>
											</div>
										</div>
									</div>


									<div>
										<button class="_3jJ8O sc-htpNat fMQhWV" format="primary" id="login_signup_button" type="submit">
											<span class="sc-bxivhb jrbrfM">Send</span>
										</button>
									</div>
								</form>
							{% endif %}

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</main>
