<section class="content-body mb-5">
	<script src="{{siteUrl}}/platform.js" defer></script>

	<div class="container px-2 mb-4">
		<div class="codestepper-app-62de28dc99405" style="min-height: calc(100vh - 60px)"></div>
	</div>

	<div class="skewed-container shadow" style="background-color: #13212d; margin-bottom:54px">
		<div class="container px-2">
			<h3 class="text-center display-4 text-light">
				Examples:
			</h3>
			<div class="my-2">
				<div class="codestepper-app-631c55a56292c"></div>
			</div>
		</div>
	</div>


	<div class="skewed-container shadow mb-5" style="background-color: #1f132d">
		<div class="container px-2 mb-5">
			<div class="m-2 my-3">
				<h3 class="text-center display-6 text-light ">
					Angular reactive forms
				</h3>
				<div class="text-light text-center w-100">
					<i>Synced video + code presentation</i>
				</div>
			</div>
			<div class="my-2">
				<div class="codestepper-app-62ebd80ed7f99"></div>
			</div>
		</div>
	</div>


</section>

{% include 'footer.html' %}
