<main class="main-content text-light" style="background: #303030">
	{{sidebar | raw}}

	<div class="mb-3 content-body my-2 w-100">


		<div class="row my-3 w-100 m-auto">

			
				<h1 class="display-6 text-center m-0">
					Pricing
				</h1>
			
		</div>


		<div class="row mb-3 w-100 m-auto">

			<div class="col-md-12">
				<div class="popup-select-plan-table-container m-2" ng-if="(!subscription || subscription.plan.parameters.apps_count == 1) &amp;&amp; !config.showOnlyPacks">
					<div class="popup-select-plan-table">

						<div class="popup-select-plan-table-col">
							<div class="popup-select-plan-table-head popup-select-plan-table-cell">


								<div class="popup-select-plan-table-head-title ng-binding" ng-if="plan.periods.monthly.price > 0">
									Enterprise
								</div>


								<div class="popup-select-plan-table-head-caption ng-binding">Best for high traffic websites and agencies</div>
							</div>

							<div class="popup-select-plan-table-price popup-select-plan-table-cell">


								<div class="popup-select-plan-table-price" ng-if="plan.periods.monthly.price > 0">
									<div class="popup-select-plan-table-price-block m-0">
										<span class="popup-select-plan-table-price-block-currency">€</span>
										<span class="popup-select-plan-table-price-block-value ng-binding">25</span>
										<span class="popup-select-plan-table-price-block-delimiter">/</span>
										<span class="popup-select-plan-table-price-block-period">mo</span>
									</div>

									<div class="popup-select-plan-table-price-select-button-wrapper"></div>

								</div>

							</div>

							<div class="popup-select-plan-table-cell">
								<div class="popup-select-plan-table-feature ng-binding">
									5,000,000
									<translate>views</translate>
									<br/>
									<small class="small">(Resets monthly)</small>

									<div class="popup-select-plan-table-cell-views-info tooltip">
										<svg width="2" height="8" viewbox="0 0 2 8">
											<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
											<rect width="2" height="2" rx="1" ry="1"></rect>
										</svg>


									</div>
								</div>

								<div class="popup-select-plan-table-feature">


									<span>
										Premium support</span>

								</div>

								<div class="popup-select-plan-table-feature">Free installation service</div>

								<div class="popup-select-plan-table-feature">CodeSteppers logo removal</div>
							</div>
						</div>

						<div class="popup-select-plan-table-col popup-select-plan-table-col-highlight">
							<div class="popup-select-plan-table-head popup-select-plan-table-cell">


								<div class="popup-select-plan-table-head-title ng-binding" ng-if="plan.periods.monthly.price > 0">
									Pro
								</div>


								<div class="popup-select-plan-table-head-caption ng-binding">Best for growing businesses</div>
							</div>

							<div class="popup-select-plan-table-price popup-select-plan-table-cell">

								<div class="popup-select-plan-table-price" ng-if="plan.periods.monthly.price > 0">
									<div class="popup-select-plan-table-price-block m-0">
										<span class="popup-select-plan-table-price-block-currency">€</span>
										<span class="popup-select-plan-table-price-block-value ng-binding">10</span>
										<span class="popup-select-plan-table-price-block-delimiter">/</span>
										<span class="popup-select-plan-table-price-block-period">mo</span>
									</div>


									<div class="popup-select-plan-table-price-select-button-wrapper"></div>
								</div>

							</div>

							<div class="popup-select-plan-table-cell">
								<div class="popup-select-plan-table-feature ng-binding">
									50,000 views
									<br/>
									<small class="small">(Resets monthly)</small>

									<div class="popup-select-plan-table-cell-views-info tooltip">
										<svg width="2" height="8" viewbox="0 0 2 8">
											<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
											<rect width="2" height="2" rx="1" ry="1"></rect>
										</svg>


									</div>
								</div>


								<div class="popup-select-plan-table-feature">
									<span>
										Premium support
									</span>
								</div>

								<div class="popup-select-plan-table-feature">Free installation service</div>

								<div class="popup-select-plan-table-feature">CodeSteppers logo removal</div>
							</div>
						</div>

						<div class="popup-select-plan-table-col">
							<div class="popup-select-plan-table-head popup-select-plan-table-cell">

								<div class="popup-select-plan-table-head-title ng-binding" ng-if="plan.periods.monthly.price > 0">
									Basic
								</div>


								<div class="popup-select-plan-table-head-caption ng-binding">Best for low-traffic websites</div>
							</div>

							<div class="popup-select-plan-table-price popup-select-plan-table-cell">
								<div class="popup-select-plan-table-price" ng-if="plan.periods.monthly.price > 0">
									<div class="popup-select-plan-table-price-block m-0">
										<span class="popup-select-plan-table-price-block-currency">€</span>
										<span class="popup-select-plan-table-price-block-value ng-binding">5</span>
										<span class="popup-select-plan-table-price-block-delimiter">/</span>
										<span class="popup-select-plan-table-price-block-period">mo</span>
									</div>

									<div class="popup-select-plan-table-price-select-button-wrapper"></div>

								</div>

							</div>

							<div class="popup-select-plan-table-cell">
								<div class="popup-select-plan-table-feature ng-binding">
									5,000
									<translate>views</translate>
									<br/>
									<small class="small">(Resets monthly)</small>

									<div class="popup-select-plan-table-cell-views-info tooltip">
										<svg width="2" height="8" viewbox="0 0 2 8">
											<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
											<rect width="2" height="2" rx="1" ry="1"></rect>
										</svg>


									</div>
								</div>


								<div class="popup-select-plan-table-feature">


									<span>
										Premium support</span>

								</div>

								<div class="popup-select-plan-table-feature">Free installation service</div>

								<div class="popup-select-plan-table-feature">CodeSteppers logo removal</div>
							</div>
						</div>

						<div class="popup-select-plan-table-col popup-select-plan-table-col-current">
							<div class="popup-select-plan-table-head popup-select-plan-table-cell">

								<div class="popup-select-plan-table-head-title ng-binding">
									Lite
								</div>


								<div class="popup-select-plan-table-head-caption ng-binding">Good for testing purposes and development stage</div>
							</div>

							<div class="popup-select-plan-table-price popup-select-plan-table-cell">

								<div class="popup-select-plan-table-price popup-select-plan-table-price-free">
									<div class="popup-select-plan-table-price-block m-0">
										<span class="popup-select-plan-table-price-block-currency">€</span>
										<span class="popup-select-plan-table-price-block-value">0</span>
										<span class="popup-select-plan-table-price-block-delimiter">/</span>
										<span class="popup-select-plan-table-price-block-period">mo</span>
									</div>

								</div>

							</div>

							<div class="popup-select-plan-table-cell">

								<div class="popup-select-plan-table-feature ng-binding">
									200
									<translate>views</translate>
									<br/>
									<small class="small">(Resets monthly)</small>

									<div class="popup-select-plan-table-cell-views-info tooltip">
										<svg width="2" height="8" viewbox="0 0 2 8">
											<rect y="3" width="2" height="5" rx="1" ry="1"></rect>
											<rect width="2" height="2" rx="1" ry="1"></rect>
										</svg>


									</div>
								</div>


								<div class="popup-select-plan-table-feature">

									<span ng-if="plan.name === 'Lite'">Only bug fixes</span>


								</div>

								<div class="popup-select-plan-table-feature popup-select-plan-table-cell-disable">Free installation service</div>

								<div class="popup-select-plan-table-feature popup-select-plan-table-cell-disable">CodeSteppers logo removal</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div class="row text-center">
			{% if not isLoggedIn %}
				<a href="/sign-up">
					<button class="btn btn-primary">
						<i class="fa fa-user mx-1"></i>
						<span>Sign up</span>
					</button>
				</a>
			{% else %}
				<a href="/active-plan">
					<button class="btn btn-primary">
						<span>Upgrade plan</span>
						<i class="fa fa-arrow-circle-right"></i>
					</button>
				</a>

			{% endif %}
		</div>


	</div>
</div></main>
