<main class="main-content">
	{{sidebar | raw}}


	<div class="mb-3 content-body overflow-y-scroll">
		<div class="col-sm-12">
			<div class="card p-3">
				<div class="card-body py-0">
					<div class="card-title">
						<h1 class="lead text-center p-2 display-5" style="letter-spacing: -0.04em">
							<span>Privacy Policy</span>
						</h1>
					</div>
					<div class="card-title">
						<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">A. Introduction</h1>
					</div>
					<ol>
						<li>
							Protecting the personal data of our website visitors is very important to us and we are committed to it
							              with adequate provision of this. This privacy statement provides information on how
							              we manage your personal data.
						</li>
						<li>
							If you consent to the use of cookies in accordance with the terms of this privacy statement, when
							              the first time you visit our website, you allow us to use cookies
							              when you visit our website.
						</li>
					</ol>
					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">B. Collection of personal data</h1>
					<p>We may collect, store and use the following types of personal data:</p>
					<ol>
						<li>
							information about your computer, including your IP address, geographic location, a
							              the type and version of your browser, as well as your operating system;
						</li>
						<li>
							information about your visit to our website and its use, including the data of the sending link,
							              the length of the visit, page views and website navigation data;
						</li>
						<li>information provided during registration on our website, such as your e-mail address;</li>
						<li>
							information provided when creating a profile on our website — for example: your name, profile picture, gender,
							              your birthday, relationship status, interests and hobbies, education and employment details;
						</li>
						<li>
							information provided on our website when subscribing to our e-mail mailing list and/or newsletters,
							              for example: your name, e-mail address;
						</li>
						<li>information provided on our website when using our services;</li>
						<li>
							information generated while using our website, including when, how often and
							              under what circumstances you use our website;
						</li>
						<li>
							with the services you purchase, the services you use or on our website
							              information related to transactions made through, among others: your name, address, telephone number,
							              your e-mail address and bank card details;
						</li>
						<li>
							information sent to our website for publication on the Internet, including: a
							              your username, the content of your profile pictures and messages;
						</li>
						<li>
							information sent by you via e-mail or through our website, including its content
							              and metadata;
						</li>
						<li>any other personal information you have sent to us.</li>
					</ol>
					<p>
						Before you disclose the personal data of another person to us, you must be the person in question
						            consent to the sharing of personal data and the personal data present
						            regarding its processing in accordance with the provisions of the data protection declaration.
					</p>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">C. Use of your personal data</h1>
					<p>
						The personal data sent to us via our website is described in this privacy statement or the
						            we use it for the purposes specified on the relevant pages of the website. Your personal information is as follows
						            can be used for the following purposes:
					</p>
					<ol>
						<li>administering our website and our business;</li>
						<li>to customize our website for you;</li>
						<li>making the services on our website available to you</li>
						<li>posting goods purchased through our website to you;</li>
						<li>providing you with services purchased through our website;</li>
						<li>sending invoices and payment reminders and collecting payments from you;</li>
						<li>sending you commercial communications for non-marketing purposes;</li>
						<li>send you email notifications that you have specifically requested;</li>
						<li>
							sending you our e-mail newsletter if you have requested it (you can notify us at any time if you no longer request
							              newsletter);
						</li>
						<li>
							with our business or businesses or carefully selected third parties
							              send you marketing communications related to your businesses, by post or - if you choose to do so
							              explicitly consented - by e-mail or using similar technology (you can notify us at any time,
							              if you no longer request the newsletter);
						</li>
						<li>
							provision of statistical information about our users to third parties (however, these third
							              parties cannot identify any user based on this information);
						</li>
						<li>handling inquiries and complaints made by you or about you in relation to our website;</li>
						<li>maintaining the security of our website and preventing fraud;</li>
						<li>
							checking compliance with the conditions governing the use of our website (including the fact that the website is private
							              tracking of private messages sent via your messaging service); as well as
						</li>
						<li>other uses.</li>
					</ol>
					<p>
						If you send us personal information for publication on our website, this information
						            we publish and otherwise use it based on the permission you give us.
					</p>
					<p>
						Your privacy settings may limit the publication of your information on our website, these are a
						            and settings can be changed on the website using the privacy settings options.
					</p>
					<p>
						We will not transfer your personal data to third parties without your express consent
						            parties or other third parties for direct marketing purposes.
					</p>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">D. Disclosure of personal data</h1>
					<p>
						Your personal data with any of our employees, officials, insurance companies, professional
						            we may communicate with consultants, agents, suppliers or subcontractors if it is reasonable and
						            necessary to ensure the purposes defined in this data protection declaration.
					</p>
					<p>
						We may disclose your personal data to any member of our company group (i.e. our subsidiaries, a
						            with our holding company and all its subsidiaries), if this is reasonable and necessary for the present
						            to ensure the purposes specified in the data protection declaration.
					</p>
					<p>Your personal data may be published:</p>
					<ol>
						<li>to the extent required by law;</li>
						<li>in relation to ongoing or future legal proceedings;</li>
						<li>
							in order to establish, exercise or protect our legal rights (among others: fraud prevention
							              and providing information to others to reduce credit risk);
						</li>
						<li>for the buyer of any business or property we have sold (or will sell in the future); and</li>
						<li>
							to any person who may reasonably be expected to be in court or otherwise
							              may contact a competent authority for the publication of personal information, if it is reasonable
							              in our opinion, such court or authority would likely order said personal information
							              publication.
						</li>
					</ol>
					<p>
						With the exception of the cases described in this data protection declaration, we will not transfer your personal data to third parties
						            to parties.
					</p>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">E. International data transfer</h1>
					<ol>
						<li>
							We may store, process and transmit the information we collect to any
							              between countries where we do business, in order to keep the information on this
							              may be used in accordance with the data protection declaration.
						</li>
						<li>
							We may transfer the information we collect to the following countries that do not
							              with laws equivalent to data protection laws in force in the European Economic Area: American
							              United States, Russia, Japan, China and India.
						</li>
						<li>
							Personal information that you publish on our website or that you submit for publication on our website
							              data can be accessed worldwide via the Internet. We cannot prevent such
							              informationio by others or the misuse of such information by others.
						</li>
						<li>
							You expressly consent to the transfer of your personal information as described in this Section F.
						</li>
					</ol>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">F. Preservation of personal data</h1>
					<ol>
						<li>
							This Section G informs you about our data retention policies and procedures, which are intended to
							              ensuring that our legal obligations regarding the retention and deletion of personal data
							              act accordingly.
						</li>
						<li>
							Personal data that we process for any purpose or purposes is prohibited for longer than that
							              keep for as long as it is necessary to store them for this purpose or purposes.
						</li>
						<li>
							The G-2. without prejudice to the article, generally personal belonging to the categories defined below
							              data will be deleted on the date/time specified below:
							<ol type="a">
								<li>the personal data type is deleted when: the last day of each calendar year</li>
							</ol>
						</li>
						<li>
							Without prejudice to the other provisions of Section G, documents containing personal data
							              (including electronic documents) are retained as follows:
							<ol type="a">
								<li>to the extent required by law;</li>
								<li>
									insofar as the documents may be relevant to any ongoing or future litigation
									                  in proceedings; and
								</li>
								<li>
									in order to establish, exercise or protect our legal rights (among others: fraud
									                  providing information to others in order to prevent and reduce credit risk).
								</li>
							</ol>
						</li>
					</ol>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">G. Security of your personal data</h1>
					<ol>
						<li>
							We take appropriate technical and organizational precautions to prevent
							              the loss of personal data, their misuse or their modification.
						</li>
						<li>
							All personal information you provide is secure (password and firewall protected)
							              stored on our servers.
						</li>
						<li>
							All electronic financial transactions conducted through our website are protected by encryption.
						</li>
						<li>
							You acknowledge that the transmission of information over the Internet is inherently insecure,
							              and we cannot guarantee the security of data transmitted over the Internet.
						</li>
						<li>
							You are responsible for keeping the password you use to access our website confidential; we do not ask for your password
							              (except when you log in to our website).
						</li>
					</ol>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">H. Amendments</h1>
					<p>
						We may update this privacy statement from time to time by posting a new version to the
						            on our website. Please check this page from time to time in order to familiarize yourself with the privacy policy
						            declaration amendments. You about changes to the data protection declaration by e-mail or on our website
						            we can notify you via the private messaging system found here.
					</p>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">I. Your rights</h1>
					<p>
						You can ask us to provide you with any personal information we have available
						            about you; such information is provided subject to the following conditions:
					</p>
					<ol>
						<li>
							verifying your identity in the appropriate way.
						</li>
					</ol>
					<p>We may withhold the personal information you request to the extent permitted by law.</p>
					<p>You can ask us at any time not to process your personal data for marketing purposes.</p>
					<p>
						In practice, you usually expressly agree beforehand that we can use your personal data
						            for marketing purposes, or we provide you with the opportunity to refuse the
						            the use of personal data for marketing purposes.
					</p>

					<h1 stylee="font-size: 40px" class="mb-4 mt-5 text-left">J. Third Party Websites</h1>
					<p>
						Our website contains links and details about third party websites. We are unable to
						            monitor, and are not responsible for, the privacy policies and practices of third parties.
					</p>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">K. Update data</h1>
					<p>
						Please let us know if any personal information we hold about you needs to be corrected or updated
						            data.
					</p>

					<h1 style="font-size: 40px" class="mb-4 mt-5 text-left">L. Cookies</h1>
					<p>
						Our website uses cookies. A cookie corresponds to a file containing an identifier (letters and numbers),
						            sent by the web server to the web browser and stored by the browser. Then the ID is done
						            sent back to the server each time the browser retrieves a particular page from the server. The cookies
						            they can be "persistent" or "session" cookies: persistent cookies are stored by the browser and expire after the specified
						            they remain valid until the date, unless the user deletes them before the expiration date; the session cookie
						            in contrast, it expires at the end of the user session when the browser is closed by the user. The cookies
						            they generally do not contain any information by which the user can be personally identified,
						            however, the personal data we store about you may be linked to the data stored in or from cookies
						            for readable information. We use both session cookies and persistent cookies on our website.
					</p>
					<ol>
						<li>
							The names of the cookies we use on our website and their purposes are listed below
							              we describe:
							<ol type="a">
								<li>
									recognition of the computer on our website with the help of Google Analytics and Adwords software,
									                  when a user visits the website
									                  tracking users while they navigate the website / the possibility of using the shopping cart a
									                  on the website / improving the usability of the website / analyzing the use of the website / the website
									                  administration / preventing fraud and improving the security of the website / the website
									                  customization for each user / the use of targeted advertising that is given
									                  may be of particular interest to users;
								</li>
							</ol>
						</li>
						<li>
							Most browsers can be set to refuse to accept cookies — for example:
							<ol type="a">
								<li>
									in the Internet Explorer browser (version 10) you can disable cookies by overriding cookie management
									                  in touch settings, for this click on the following: "Tools", "Internet settings",
									                  "Privacy", and finally to the "Advanced" option;
								</li>
								<li>
									To disable all cookies in Firefox (version 24), click:
									                  "Tools", "Options", "Privacy", then from the drop-down menu select "Custom Settings
									                  use for history" option and uncheck the "Accept cookies" option; as well as
								</li>
								<li>
									To disable all cookies in the Chrome browser (version 29), select “Customize and
									                  control" menu, then click on the following: "Settings", "Advanced settings
									                  display', 'Content settings', finally select the 'Prevent data saving on websites' option in the
									                  in the "Cookies" section.
								</li>
							</ol>
						</li>
					</ol>
					<p>
						If you disable all cookies, the usability of many websites will deteriorate. On our website
						            and some functions will not be available to you.
					</p>
					<ol start="3">
						<li>
							You can also delete cookies already stored on your computer — for example:
							<ol type="a">
								<li>
									in the Internet Explorer browser (version 10), you must manually delete the cookie files (for this the
									                  At
									<a href="http://support.microsoft.com/kb/278835" target="_blank">http://support.microsoft.com/kb/278835</a>
									find description);
								</li>
								<li>
									To delete cookies in the Firefox browser (version 24), click "Tools",
									                  "Options", "Privacy", then selectza the "Use custom settings for history" option,
									                  then click on the "Show cookies" option, and finally on the "Remove all" item; as well as
								</li>
								<li>
									To delete all cookies in the Chrome browser (version 29), select "Customization and control"
									                  menu, then click “Settings”, “Show advanced settings”,
									                  "Clear browsing data", and for the latter, select "All cookies and website data",
									                  before clicking "Clear Browsing Data".
								</li>
							</ol>
						</li>
						<li>If you delete cookies, the usability of many websites will deteriorate.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>


</main>
