<main class="main-content">
	<div class="d-flex flex-column flex-shrink-0 px-2 text-white bg-dark" style="width: 208px;">
		<ul class="nav nav-pills flex-column py-2">
      <li class="nav-item">
				<a href="/" class="nav-link text-white">
					<i class="fa fa-home mx-1"></i>
					<span>Home</span>
				</a>
			</li>
      <li class="nav-item">
        <a href="/edit" class="nav-link text-white">
          <i class="fa fa-edit mx-1"></i>
          <span>Editor (trial mode)</span>
        </a>
      </li>
      <li>
        <a href="/sign-up" class="nav-link text-white">
          <i class="fa fa-user mx-1"></i>
          <span>Sign up for free</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <i class="fa fa-question mx-1"></i>
          <span>Support</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="b-example-divider"></div>

  <div class="mb-3 content-body">
    <div class="card">
      {% if isLoggedIn %}
        <div class="card-body w-100 p-0" id="hero-spot2">
          <div class="card-title">
            <h2 class="mb-4 mt-5 text-success display-5 text-center">
              Logged in
              <i class="fa fa-check-circle"></i>
            </h2>
          </div>
        </div>

      {% else %}
        <div class="row m-0">
          <div class="col-md-12">
            <div class="p-3">
              {% include 'subscriber-login-form.twig' with {'loginError': loginError, 'email': email, registrationPath: '/sign-up', 'isPasswordModificationSuccess': isPasswordModificationSuccess}  %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

</main>
