<div class="_1PqEM">
	<h2 class="sc-bdVaJa iPHfVO m-auto pb-2" format="dark">Log in</h2>
	<p class="sc-bdVaJa gqURud" format="dark">Don't have an account?
		<a href="{{registrationPath}}" class="_2uWfz _16h3z CtrL7">Join</a>
	</p>
	{% if error == 'invalidCredentials' %}
		<div class="alert alert-danger p-1 pe-2 ps-2 w-100">
			<p style="font-size:14px">
				Invalid email or password.
			</p>
		</div>
	{% endif %}
	{% if error == 'notVerified' %}
		<div class="alert alert-danger p-1 pe-2 ps-2 w-100">
			<p style="font-size:14px">
				Please verify your email!
			</p>
		</div>
	{% endif %}
	{% if isPasswordModificationSuccess %}
		<div class="alert alert-success p-1 pe-2 ps-2 w-100">
			<p style="font-size:14px">
				Password modification successful! <i class="fa fa-check-circle"></i>
			</p>
		</div>
	{% endif %}
</div>
<form class="_2bCMA p-3" method="post" action="/api/subscriber-login">
	<div class="_30AVd ">
		<div class="sc-gzVnrw geGmQK">
			<div class="sc-dnqmqq djVjby">
				<div class="sc-iwsKbI jFkMBx">
					<div class="I9NYm _3z-_p db1GS">
						<label class="_3Xmck _1Bymy" for="login_email">Email</label>
						<input type="email" name="email" autocomplete="email" value="{{email}}" required="" maxlength="128" class="_2lU9f db1GS _1Bymy" id="login_email">
					</div>
				</div>
				<div class=""><div class="sc-EHOje WoJQA" data-animation-wrapper="true" style="max-height: 0rem;">
						<span class="_18vKK EDGQF sc-bdVaJa bhhGJv" format="dark" role="alert"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_30AVd ">
		<div class="sc-gzVnrw geGmQK">
			<div class="sc-dnqmqq djVjby">
				<div class="sc-iwsKbI jFkMBx">
					<div class="I9NYm _3z-_p db1GS">
						<label class="_3Xmck _1h-CP _1Bymy" for="login_password">Password</label><input type="password" name="password" autocomplete="current-password" required="" class="_2lU9f db1GS _1h-CP _1Bymy" id="login_password">
					</div>
				</div>
				<div class=""><div class="sc-EHOje WoJQA" data-animation-wrapper="true" style="max-height: 0rem;">
						<span class="_18vKK EDGQF sc-bdVaJa bhhGJv" format="dark" role="alert"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<p class="sc-bdVaJa eUCqUO" format="alternative">
		<a href="/forgot-password" class="_2uWfz CtrL7 sfhUC ignore_blur_on_click">Forgot your password?</a>
	</p>
	<div>
		<button class="_3jJ8O sc-htpNat fMQhWV" format="primary" id="login_signup_button" type="submit">
			<span class="sc-bxivhb jrbrfM ms-3">Log in</span>
			<i class="fa fa-arrow-circle-right ms-2"></i>
		</button>
	</div>
</form>
