<h2 class="sc-bdVaJa iPHfVO m-auto pb-2 text-center" format="dark">Join</h2>
<p class="sc-bdVaJa gqURud text-center m-auto" format="dark">Already have an account?
	<a href="/login" class="_2uWfz _16h3z CtrL7">Log in</a>
</p>
{% if registrationEmailSent %}
	<div id="registrationEmailSent-alert" class="alert alert-success p-2 m-2">
		<h2>
			<span>Success!
				<i class="fa fa-check-circle"></i>
			</span>
		</h2>
		<p style="font-size:14px">
			A verification email has been sent to your email address.
			<br>
			Please check your email to verify your account!
		</p>
	</div>
{% endif %}
{% if registrationSuccessful is defined and registrationSuccessful %}
	<div class="alert alert-success p-2 m-2">
		<p style="font-size:14px">
			Registration successful!
		</p>
	</div>
{% endif %}
{% if error == 'emailTaken' %}
	<div class="alert alert-danger p-2 m-2">
		<p style="font-size:14px">
			Email taken.
		</p>
	</div>
{% endif %}
{% if error == 'invalidEmail' %}
	<div class="alert alert-danger p-2 m-2">
		<p style="font-size:14px">
			Invalid email.
		</p>
	</div>
{% endif %}
<form class="_2bCMA p-3" method="post" action="/api/request-membership">

	<div class="sc-gzVnrw geGmQK ">
		<div class="sc-dnqmqq djVjby">
			<div class="sc-iwsKbI jFkMBx">
				<div class="I9NYm _3z-_p db1GS">
					<label class="_3Xmck _1Bymy" for="login_email">Email</label>
					<input type="email" name="email" value="{{email}}" required="" maxlength="128" class="_2lU9f db1GS _1Bymy" id="login_email">
				</div>
			</div>
			<div class="">
				<div class="sc-EHOje WoJQA" data-animation-wrapper="true" style="max-height: 0rem;">
					<span class="_18vKK EDGQF sc-bdVaJa bhhGJv" format="dark" role="alert"></span>
				</div>
			</div>
		</div>
	</div>


	<div class="sc-gzVnrw geGmQK">
		<div class="sc-dnqmqq djVjby">
			<div class="sc-iwsKbI jFkMBx">
				<div class="I9NYm _3z-_p db1GS">
					<label class="_3Xmck _1h-CP _1Bymy" for="login_password">Password</label><input type="password" name="password" required="" class="_2lU9f db1GS _1h-CP _1Bymy" id="login_password">
				</div>
			</div>
			<div class="">
				<div class="sc-EHOje WoJQA" data-animation-wrapper="true" style="max-height: 0rem;">
					<span class="_18vKK EDGQF sc-bdVaJa bhhGJv" format="dark" role="alert"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-check mb-2 text-sm p-1" style="font-size: 14px">
		<label class="form-check-label">
			<input class="me-1" required type="checkbox" name="privacy1" value="1"/>
			I agree to the
			<a href="/terms-and-conditions" target="_blank">Terms of Service</a>
			Privacy Policy and Cookie Policy
		</label>
	</div>
	<div>
		<button class="_3jJ8O sc-htpNat fMQhWV" format="primary" id="login_signup_button" type="submit">
			<span class="sc-bxivhb jrbrfM ms-3">Sign up</span>
			<i class="fa fa-arrow-circle-right ms-2"></i>
		</button>
	</div>
</form>
