<main class="main-content" style="background: #303030">
	{{sidebar | raw}}


	<div class="content-body overflow-y-scroll bg-dark text-white">
		<div class="col-sm-12">

			<div class="card-title">
				<h1 class="lead text-center p-2 display-5" style="letter-spacing: -0.04em">
					<span>Support</span>
				</h1>
			</div>
			<div class="card-body text-center">

				<p class="fw-bold">
					If you have any questions, problems or feature requests, feel free to write to the email below!
				</p>

				<p class="fw-bold">
					<a href="mailto:mate@codesteppers.com">support@codesteppers.com</a>
				</p>
			</div>

		</div>
	</div>
</main>
