<main class="main-content">
	{{sidebar | raw}}


	<div class="my-2 content-body">
		<div class="col-sm-12">
			<div class="card p-3 bg-transparent-70">
				<div class="card-body">
					<div class="card-title">
						<h1 class="lead text-center p-2 display-5" style="letter-spacing: -0.04em">
							<span>Support</span>
						</h1>
					</div>


				</div>
			</div>
		</div>
	</div>
</main>
