<main class="main-content">
  {{sidebar | raw}}

  <div class="my-2 content-body overflow-y-scroll">
    <div class="col-sm-12">
      <div class="card p-3 bg-transparent-70">
        <div class="card-body">
          <div class="card-title">
            <h1 class="lead text-center p-2 display-5" style="letter-spacing: -0.04em">
              <span>Általános szerződési feltételek</span>
            </h1>
          </div>

          <div class="card-body">

            <div class="card p-2 mb-4 bg-transparent-70">
              <h4 class="mb-2">
                <span>Üzemeltető, szerző és jogtulajdonos:</span>
              </h4>

              <p class="lead">
                Bolgár Máté Dániel EV. MAGYARORSZÁG, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF em. 1 ajtó
              </p>
              <p class="lead">Adószám: 69208153143</p>
              <p class="lead fw-bold">Bank neve:
                <span class="text-danger">OTP Bank</span>
              </p>
              <p class="lead fw-bold">Bankszámlaszám:
                <span class="text-danger">11773102-00143752</span>
              </p>
            </div>

            <p class="lead">
              Kérjük, tájékozódjon itt, és alaposan olvassa el a feltételeket. Ha valamely kikötésünkkel nem ért egyet
              vagy észrevétele van, azt jelezze, eltérő esetben úgy tekintjük, hogy a feltételekkel egyetért, az itt
              leírtakat elfogadja.
            </p>

            <div class="p-3 m-2">
              <h1>I. Alapvető rendelkezések</h1>

              <ol>
                <li>
                  A jelen dokumentumban nem szabályozott kérdésekre, valamint jelen Szabályzat értelmezésére a magyar
                  jog
                  az irányadó, különös tekintettel a Polgári Törvénykönyvről szóló 2013. évi V. törvény („Ptk.”) és az
                  elektronikus kereskedelmi szolgáltatások, az információs társadalommal összefüggő szolgáltatások egyes
                  kérdéseiről szóló 2001. évi CVIII. (Elker. tv.) törvény, valamint a fogyasztó és a vállalkozás közötti
                  szerződések részletes szabályairól szóló 45/2014. (II. 26.) Korm. rendelet vonatkozó rendelkezéseire.
                  A
                  vonatkozó jogszabályok kötelező rendelkezései a felekre külön kikötés nélkül is irányadók.
                </li>
                <li>
                  A jelen feltételek 2022. július 26. napjától hatályosak és visszavonásig hatályban maradnak. A
                  Szolgáltató jogosult egyoldalúan módosítani az Általános Szerződési Feltételeket.
                </li>
                <li>
                  Szolgáltató fenntart magának minden jogot a weboldal/honlap, annak bármely részlete és az azon
                  megjelenő
                  tartalmak, valamint a weboldal terjesztésének tekintetében. Tilos a weboldalon/honlapon megjelenő
                  tartalmak vagy azok bármely részletének letöltése, elektronikus tárolása, feldolgozása és értékesítése
                  a
                  Szolgáltató írásos hozzájárulása nélkül.
                </li>
              </ol>
            </div>
            <div class="p-3 m-2">
              <h1>II. A szolgáltatás leírása</h1>
              <ol>
                <li>
                  A Szolgáltató által nyújtott szoftver megvásárlásával a megrendelők, továbbiakban Tagok a
                  vásárlást követően hozzáférhetnek az alkalmazás teljes verziójához.

                </li>
                <li>
                  Az alkalmazás teljes verziójában a logó el van távolítva, premium support és installation service áll
                  rendelkezésre,
                  valamint a megadott kvótának megfelelő adatforgalom van biztosítva.
                </li>
                <li>
                  Az adatforgalmi kvóták a következők:
                  <ol class="card m-2 p-2 ps-5">
                    <li>
                      Lite: 200 views
                    </li>
                    <li>
                      Basic: 5000 views
                    </li>
                    <li>
                      Pro: 50000 views
                    </li>
                    <li>
                      Enterprise: 5000000 views
                    </li>
                  </ol>
                </li>
                
                <li>
                  Az adatforgalom minden hónap első napján nullázódik.
                </li>
              </ol>
            </div>
            <div class="p-3 m-2">
              <h1>III. A szerződés tárgya</h1>

              <ol>
                <li>
                  Jelen szerződés alapján a Tag megbízza a Szolgáltatót, hogy a Szolgáltatás keretében a weboldalon
                  meghirdetett szoftvert rendelkezésére bocsássa. A szerződés tárgyát képezi egyrészt a Szolgáltatáson
                  keresztül, a szerződés megkötésének időpontjában hozzáférhető funkcionalitás,
                  valamint a Szolgáltató által később elkészített frissítések, új funkcionalitás is.
                </li>
                <li>
                  Ezen ajánlatokra vonatkozó szerződés a Szerződő Felek között ráutaló magatartással, a
                  <span>"Pay yearly"</span>
                  gomb lenyomásával jön létre, az adatlap szerinti áron.&nbsp;
                </li>
                <li>
                  A Szolgáltatás kizárólag online rendelhető meg és az online felületen érhető el. Letöltésre,
                  lementésre,
                  bármilyen adathordozón igénylésre nincsen mód és ezt tiltja a jelen Szabályzat.
                </li>
                <li>
                  A szolgáltatás a vásárlás időpontjától kezdve 1 évig érhető el. Ezen időtartam letelte után a szolgáltatás meghosszabbítható új csomag megrendelésével.
                </li>
                <li>
                  Az adatforgalmi kvóta 80%-os, 90%-os és 100%-os felhasználása során a Tag tájékoztató email-t kap.
                </li>
                <li>
                  Az adatforgalmi kvóta 100%-os felhasználása esetén a CodeStepper kliens program nem szolgáltat tovább adatot a felhasználóknak, kizárólag új csomag megvásárlása esetén.
                </li>
              </ol>
            </div>
            <div class="p-3 m-2">
              <h1>IV. A szerződés létrejötte, díjfizetés</h1>
              <ol>
                <li>
                  A szerződés a felek között
                  <span>"Pay yearly"</span>
                  gombra való kattintással lép életbe, amelyre a távollévők között megkötött szerződés (45/2014. (II.
                  26.)
                  Korm. rendelet) szabályai vonatkoznak. A Megrendelő a gomb megnyomásával tudomásul veszi és elfogadja
                  az
                  itt leírt Általános Szerződési Feltételeket, egyúttal nyilatkozik arról, hogy az általa megadott
                  adatok
                  hiánytalanok és valósak, cselekvőképessége, illetve szerződéskötési képessége nincs korlátozva.
                </li>
                <li>
                  A vásárlás/regisztráció során megadott valótlan, vagy más személyhez köthető adatok esetén a létrejövő
                  elektronikus szerződés semmis. Szolgáltató kizárja felelősségét, amennyiben Tag más nevében, más
                  személy
                  adataival veszi igénybe szolgáltatásait. A Tag által tévesen és/vagy pontatlanul megadott adatokra
                  visszavezethető számlázási illetve egyéb problémáért, hibáért a Szolgáltatót semminemű felelősség nem
                  terheli.&nbsp;
                </li>
                <li>
                  Jelen Szerződés elfogadásával a Tag kifejezetten hozzájárul ahhoz, hogy a Szolgáltató a szerződésszerű
                  teljesítést a szerződés megkötése után azonnal megkezdje.
                </li>
                <li>
                  Ennek feltétele a Szolgáltatás díjának kiegyenlítése, amely a jelentkezési űrlap kitöltését és a
                  "Pay yearly" feliratú gomb megnyomását követően, az
                  <span>OTP SIMPLEPAY</span>
                  rendszerén keresztül kell
                  megtörténjen, bankkártyás fizetés formájában. A pontos megbízási díj mértékét mindig a megrendelő
                  oldalon található megrendelő űrlap tartalmazza.&nbsp;
                </li>
                <li>
                  A megvásárolt szoftver a következőket tartalmazza:
                  <ul>
                    <li class="ms-4">
                    Hozzáférést a weboldalon található "CodeStepper Editor" szerkesztőfelülethez és
                    </li>
                    <li class="ms-4">
                      A "CodeStepper" beágyazható alkalmazásához.
                    </li>
                  </ul>
                </li>
                </li>

                <li>
                  A Szolgáltató fenntartja magának a jogot, hogy a beérkezett regisztrációt indoklás nélkül elutasítsa.
                </li>
              </ol>
            </div>

            <div class="p-3 m-2">
              <h1>V. Rendelés menete</h1>
              <ol>
                <li>
                  A látogató regisztrációt követően megkezdheti a "Plans" oldalakon található
                  megrendelőlap kitöltésével. Az űrlap kitöltésével és a fizetéssel, a regisztrált felhasználói
                  fiókjával
                  automatikusan hozzáférést kap a szoftverhez.
                </li>
              </ol>
              <h1>VII. Elállási jog</h1>
              <ol>
                <li>
                  A fogyasztónak minősülő Tag a szerződés megkötését követő 14 naptári napon belül azonnali hatállyal,
                  indoklás nélkül felmondhatja a Szolgáltatás nyújtására vonatkozó szerződést. Az elállás joggal úgy
                  élhet
                  a Fogyasztó, hogy a support@codesteppers.com emailre jelzi szándékát. Szükséges megadnia a regisztrált
                  email
                  címét.
                </li>
                <li>Amennyiben a számla jogi személy nevére szól, a Tag nem minősül fogyasztónak.</li>
              </ol>
            </div>

            <div class="p-3 m-2">
              <h1>VIII. A Szolgáltató jogai és kötelességei</h1>
              <ol>
                <li>
                  A Szolgáltató kötelezettséget vállal arra, hogy az általa meghirdetett szoftver szolgáltatást az
                  általa nyújtható legmagasabb színvonalon biztosítja a jelentkezőknek.
                </li>

                <li>Az esetlegesen felmerülő kérdések maximum 1 héten belül vannak megválaszolva.</li>
                <li>
                  A Szolgáltató arra is jogosult, hogy bizonyos kedvezményeket csak az általa meghatározott ügyfeleknek,
                  vagy ügyfélcsoportoknak biztosítson, és ezen kedvezményekről nem köteles a honlapján felvilágosítást
                  nyújtani.
                </li>
                <li>
                  A Szolgáltató fenntartja magának a jogokat, hogy a mindenkori szolgáltatási díjakat, árakat maga
                  határozza meg. Kérjük, az aktuális árakról és díjakról mindig tájékozódjon a honlapon. Minden
                  szolgáltatásra, az annak megrendelése napján feltüntetett díjszabás az irányadó.
                </li>
                <li>
                  A Szolgáltató a szolgáltatásaival kapcsolatos számlaadási kötelezettségét elektronikus számlával, vagy
                  a
                  Tag kérése esetén nyugtával teljesíti. Ezt a befizetés beérkezése után a megadott emailcímre küldjük a
                  szamlazz.hu rendszeréből! A számla elektronikus aláírással és időbélyeggel van ellátva, így megfelel
                  az
                  áfa törvényben és egyéb rendeletben foglalt törvényi előírásoknak.
                </li>
              </ol>
            </div>

            <div class="p-3 m-2">
              <h1>IX. A Tag jogai és kötelezettségei</h1>
              <ol>
                <li>
                  A Tag vagy az általa megnevezett résztvevő a megvásárolt szoftvert jogosult használni és jogosult a
                  leírt szolgáltatások igénybevételére.
                </li>

                <li>
                  A Tag jogosult a CodeStepper alkalmazást saját weboldalaiba beágyazni.
                </li>

              </ol>
            </div>

            <div class="p-3 m-2">
              <h1>X. Szerzői jogok</h1>
              <ol>
                <li>
                  A Tag kötelezettséget vállal arra, hogy a szoftverként kapott információkat az együttműködés tárgyával
                  össze nem függő módon nem használja fel. A szoftver a készítőjének a Bolgár Máté Dániel EV
                  jogait képezi, azok felhasználásához minden esetben a szerzők előzetes írásbeli hozzájárulása
                  szükséges.
                </li>
              </ol>
            </div>
            <div class="p-3 m-2">
              <h1>XI. A honlap tulajdonosának technikai jogai</h1>
              <ol>
                <li>
                  Fenntartjuk a jogot, hogy a honlapon bármikor módosítást, átdolgozást eszközöljünk, a honlap
                  elérhetőségét korlátozhatjuk, vagy megszüntethetjük. Felhívjuk a T. Honlaplátogató böngésző figyelmét
                  arra, hogy a honlaphoz való hozzáférés folyamatosságát vagy hibamentességét nem garantálja a
                  Szolgáltató.
                </li>
                <li>
                  A honlap használatra alkalmatlan állapotából vagy a nem megfelelő működésből, hiányosságból, esetleges
                  üzemzavarból vagy félreérthetőségből eredő közvetlen vagy közvetett vagyoni vagy nem vagyoni károkért,
                  vagy más veszteségért való felelősséget kifejezetten kizárjuk. Kárigény esetén a vita rendezésére
                  előzetes és békés egyeztetés szükséges, a honlap üzemeltető székhelyén vagy telephelyén, jogi
                  képviselő jelenlétében. Csak az ezen az egyeztetésen felvett jegyzőkönyv aláírását követően jogosultak
                  a felek bírósághoz fordulni.
                </li>
                <li>
                  A Szolgáltató nagyobb karbantartás esetén a Tagokat előzetesen min. 24 órával értesíti, de a külső
                  szolgáltatók okaiból pl. Tárhely üzemzavar felelősséget nem vállal, de mindent megtesz, hogy a
                  hozzáférés folyamatosságát fenntartja.
                </li>
              </ol>
            </div>

            <div class="p-3 m-2">
              <h1>XII. Panaszkezelés</h1>
              <ol>
                <li>
                  A Szolgáltató célja, hogy a szolgáltatást megfelelő minőségben, a Tag teljes megelégedettsége mellett
                  teljesítsen. Amennyiben Tagnak mégis valamilyen panasza van a szerződéssel vagy annak teljesítésével
                  kapcsolatban, úgy panaszát a telefonon, e-mail útján is közölheti. Ezen kommunikációs csatornákról az
                  <a href="/bemutatkozas" target="_blank">bemutatkozás</a>
                  oldalon tájékozódhat.
                </li>
                <li>
                  Tájékoztatjuk, hogy a panaszának elutasítása esetén panaszával hatósági vagy békéltető testület
                  eljárását kezdeményezheti, az alábbi elérhetőségeken:
                  <hr />
                  <p>Nemzeti Fogyasztóvédelmi Hatóság Cím: 1088 Budapest, József krt. 6.</p>

                  <p>Levelezési cím: 1428 Budapest, PF: 20.</p>

                  <p>Központi telefonszám: +36 1 459 4800</p>
                  <p>E-mail:</p>
                  <a href="mailto:nfh@nfh.hu">nfh@nfh.hu
                  </a>
                  <hr />
                  <p>Pest Megyei Békéltető Testület</p>
                  <p>Címe: 1119 Budapest, Etele út 59-61. 2. em. 240.</p>
                  <p>Telefonszáma: (1)-269-0703</p>
                  <p>E-mail cím:</p>
                  <a href="mailto:pmbekelteto@pmkik.hu">
                    <p>pmbekelteto@pmkik.hu</p>
                  </a>
                  <hr />
                </li>
                <li>
                  <p>
                    Online adásvételi vagy online szolgáltatási szerződéssel összefüggő határon átnyúló fogyasztói
                    jogvita esetén az eljárásra kizárólag a fővárosi kereskedelmi és iparkamara mellett működő békéltető
                    testület illetékes.
                  </p>
                </li>
              </ol>
            </div>
            <div class="p-3 m-2">
              <h1>XIII. Adatkezelés</h1>

              A számvitelről szóló hatályos jogszabályok értelmében a vásárló által megadott számlázási címet, és a
              számlák adatait a rendeletben meghatározott ideig, 8 évig tároljuk. Bővebben az
              <a href="/privacy-policy" target="_blank">Adatvédelmi szabályzatban</a>
              foglaltak az irányadók.
            </div>

            <div class="card-body">
              <div class="card p-2 mb-2 bg-transparent-70">
                <div class="card-title">
                  <h1 style="font-size: 40px" class="mb-4 mt-2 text-center">SIMPLEPAY Data Transfer Declaration</h1>
                </div>


                <p class="lead mb-2">
                  I acknowledge the following personal data stored in the user account of Bolgár Máté Dániel e.v (MAGYARORSZÁG, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF
                  em.
                  1 ajtó) in the user database of
                  <a href="https://codesteppers.com">https://codesteppers.com<a>
                      will be handed over to OTP Mobil Ltd. and is trusted as data processor.
                </p>

                <div class="card bg-light p-2 lead">
                  <span class="">
                    <span>The data transferred by the data controller are the following:</span>
                  </span>
                  <ul class="mb-2">
                    <li class="ms-4">Nyugta-kibocsátással járó vásárlás esetén: Email cím</li>
                    <li class="mb-2 ms-4">
                      Számlázott vásárlás esetén: Név/cégnév, Adószám, Email cím, Irányítószám, Város, Lakcím
                    </li>
                    </ol>

                </div>

                <p class="mb-4">
                  Az adatfeldolgozó által végzett adatfeldolgozási tevékenység jellege és célja a SimplePay Adatkezelési
                  tájékoztatóban, ezen az oldalon tekinthető meg:
                  <a href="http://simplepay.hu/vasarlo-aff" target="_blank">http://simplepay.hu/vasarlo-aff</a>
                </p>
                <div class="w-100">
                  <img class="img-fluid w-100 p-3 m-auto" src="/public/images/simplepay_logo2.png" />
                </div>
              </div>
              </p>
            </div>

            <p class="text-center">
              <strong>June 26. 2022.</strong>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>


</main>