<main class="main-content">
	{{sidebar | raw}}


	<div class="my-2 content-body">
		<div class="col-sm-12">
			<div class="card p-3 bg-transparent-70">
				<div class="card-body">
					<div class="card-title">
						<h1 class="lead text-center p-2 display-5" style="letter-spacing: -0.04em">
							<span>General terms and conditions</span>
						</h1>
					</div>

					<div class="card-body">

						<div class="card p-2 mb-4 bg-transparent-70">
							<h4 class="mb-2">
								<span>Operator, author and copyright holder:</span>
							</h4>

							<p class="lead">
								Dániel Máté Bolgár EV. HUNGARY, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF em. 1 door
							</p>
							<p class="lead">Tax number: 69208153143</p>
							<p class="lead fw-bold">Bank name:
								<span class="text-danger">OTP Bank</span>
							</p>
							<p class="lead fw-bold">Bank account number:
								<span class="text-danger">11773102-00143752</span>
							</p>
						</div>

						<p class="lead">
							Please check here and read the terms and conditions carefully. If you do not agree with any of our terms
																					              or have a comment, indicate it, otherwise we will consider that you agree with the terms and conditions, it is here
																					              accepts what is written.
						</p>

						<div class="p-3 m-2">
							<h1>I. Basic provisions</h1>

							<ol>
								<li>
									Questions not regulated in this document, as well as the interpretation of these Regulations, are governed by Hungarian law
																											                  the governing body, in particular Act V of 2013 on the Civil Code ("Civil Code") and
																											                  electronic commercial services, services related to the information society are some
																											                  CVIII of 2001 on questions (Elker. tv.) Act and between the consumer and the business
																											                  45/2014 on the detailed rules of contracts. (II. 26.) to the relevant provisions of Government Decree. THE
																											                  the mandatory provisions of the relevant legislation apply to the parties without special stipulations.
								</li>
								<li>
									These terms and conditions are effective from January 18, 2021 and will remain in effect until revoked. THE
																											                  The Service Provider is entitled to unilaterally modify the General Terms and Conditions.
								</li>
								<li>
									The service provider reserves all rights to the website/website, any of its details and what appears on it
																											                  contents, as well as the distribution of the website. It is forbidden to appear on the website
																											                  downloading, electronic storage, processing and sale of contents or any part thereof a
																											                  Without the written consent of the service provider.
								</li>
							</ol>
						</div>
						<div class="p-3 m-2">
							<h1>II. Service description</h1>
							<ol>
								<li>
									With the one-time purchase of video courses provided by the Service Provider, the customers, hereinafter referred to as Members, a
																											                  after purchase, they can access the training videos and other support materials in the courses.
																											                  (Embedded apps, Code Assistant)
								</li>
								<li>
									The purpose of the service is for Members to become familiar with various programming methods and
																											                  with frameworks so that they can utilize the acquired knowledge during their work or hobby.
								</li>
								<li>
									The courses are not considered adult education. The service provider does not know the course process
																											                  intervene, has no influence on the development of the person participating in the training, the processing of the curriculum content
																											                  it is the individual task of the person participating in the training. The courses are an online video library, online
																											                  they include knowledge materials and informational newsletters.
								</li>
							</ol>
						</div>
						<div class="p-3 m-2">
							<h1>
								III. Subject of the contract</h1>

							<ol>
								<li>
									Based on this contract, the Member instructs the Service Provider to, within the framework of the Service, on the website
																											                  provide announced study materials. On the one hand, the Service is the subject of the contract
																											                  materials available at the time of the conclusion of the contract (videos, other educational materials),
																											                  as well as updates and new study materials prepared later by the Service Provider.
								</li>
								<li>
									The contract relating to these offers between the Contracting Parties with reference to the conduct, a
									<span>"I'll buy it"</span>
									is created by pressing a button, at the price according to the course data sheet.&nbsp;
								</li>
								<li>
									The Service can only be ordered online and is available on the online interface. To download, save,
																											                  there is no way to request on any data medium and this is prohibited by these Regulations.
								</li>
							</ol>
						</div>
						<div class="p-3 m-2">
							<h1>IV. Creation of the contract, payment of fees</h1>
							<ol>
								<li>
									The contract between the parties is
									<span>"I will buy"</span>
									comes into force by clicking the button, for which the contract concluded between absentees (45/2014. (II. 26.)
																											                  Government Decree) rules apply. By pressing the button, the Customer acknowledges and accepts it
																											                  the General Terms and Conditions described here, at the same time declares that the data provided by him
																											                  they are complete and real, their capacity to act and their capacity to enter into contracts are not restricted.
								</li>
								<li>
									In the case of false data provided during purchase/registration or data that can be linked to another person, the resulting
																											                  electronic contract is void. The Service Provider excludes its responsibility if the Member is a different person
																											                  use its services with your data. For data provided incorrectly and/or inaccurately by the Member
																											                  The Service Provider is not responsible for any billing or other problems or errors that can be traced back to it
																											                  charged.&nbsp;
								</li>
								<li>
									By accepting this Agreement, the Member expressly agrees that the Service Provider is contractual
																											                  begin performance immediately after concluding the contract.
								</li>
								<li>
									This is subject to payment of the Service fee, which includes filling out the application form and
																											                  After pressing the "I buy" button, you must use the
									<span>OTP SIMPLEPAY</span>
									system
																											                  take place, in the form of a bank card payment. The exact order fee is always determined by the customer
																											                  is included in the order form on page.&nbsp;
								</li>
								<li>
									The purchased video course includes:
									<ul>
										<li class="ms-4">Access to the educational interface and teaching materials on the website</li>
									</ul>

									The purchased video course does not include telephone, Skype or Messenger support,
																											                  assistance, nor a personal meeting.
								</li>

								<li>
									The Member can access the ordered service for an unlimited period of time. You may not sell or transfer access
																											                  for additional users.
								</li>
								<li>
									The Service Provider may periodically make certain materials available for testing,
																											                  services, does not charge a fee for these services, but requires registration. THE
																											                  registration can be canceled at any time.
								</li>
								<li>
									The Service Provider reserves the right to reject the received registration without giving reasons.
								</li>
							</ol>
						</div>

						<div class="p-3 m-2">
							<h1>V. Order process</h1>
							<ol>
								<li>
									After registration, the visitor can start shopping on the course presentation pages
																											                  by filling out an order form. By filling out the form and paying with your registered user account
																											                  you are automatically granted access to the course.
								</li>
							</ol>
							<h1>
								VII. Right of withdrawal</h1>
							<ol>
								<li>
									The Member who is considered a consumer, within 14 calendar days after the conclusion of the contract, with immediate effect,
																											                  may terminate the contract for the provision of the Service without reason. Withdrawal can live as a right
																											                  the Consumer to indicate his intention by email to mate@kodbazis.hu. It is necessary to enter the registered email
																											                  address.
								</li>
								<li>If the account is in the name of a legal entity, the Member is not considered a consumer.</li>
							</ol>
						</div>

						<div class="p-3 m-2">
							<h1>
								VIII. Rights and obligations of the Service Provider</h1>
							<ol>
								<li>
									The Service Provider undertakes to ensure that the video course service advertised by it is
																											                  provides applicants with the highest quality it can provide.
								</li>
								<li>
									Help with lessons is available on Facebook throughout the week, on weekdays
																											                  on the chat interface provided by , which is placed on the interface visible on every page.
								</li>
								<li>Any questions that may arise are answered within a maximum of 3-4 hours.</li>
								<li>
									The Service Provider is entitled to periodically hold promotions that are to an extent determined by it
																											                  provides a discount from the membership list prices. It is about the terms and conditions of these actions and the range of beneficiaries
																											                  must provide information on its website (https://kodbazis.hu) during the campaign.
								</li>
								<li>
									The Service Provider is also entitled to offer certain discounts only to customers specified by him,
																											                  or customer groups, and is not obliged to provide information on these discounts on its website
																											                  to stretch.
								</li>
								<li>
									The Service Provider reserves the right to set the current service fees and prices
																											                  Define. Please always check the website for current prices and fees. All
																											                  service, the rate indicated on the day of the order is applicable.
								</li>
								<li>
									The Service Provider fulfills its invoicing obligation related to its services with an electronic invoice, or a
																											                  If requested by a member, it will be provided with a receipt. After receiving the payment, we will send it to the specified email address
																											                  from the szamlazz.hu system! The invoice has an electronic signature and time stamp, so it is correct
																											                  to the legal requirements contained in the VAT Act and other regulations.
								</li>
							</ol>
						</div>

						<div class="p-3 m-2">
							<h1>IX. Rights and obligations of the Member</h1>
							<ol>
								<li>
									The Member or the participant named by him is entitled to participate in the purchased course and is entitled to a
																											                  to use the described services.
								</li>
								<li>
									The Member is entitled to use the information, experience and knowledge acquired on the course for his own purposes
																											                  for use.
								</li>

								<li>
									The Member, or the participant named by him, cannot be obliged to actually participate in the paid course!
								</li>

								<li>
									The acquisition and maintenance of technical and other materials necessary for the successful completion of the course is the responsibility of the Members
																											                  duty. Participants must have computer software and hardware
																											                  with a background that enables them to complete the course. The course does not support software
																											                  provides, students must take care of acquiring the software themselves.
								</li>
								<li>
									The Member must also have an internet connection that allows for continuous communication
																											                  provides.
								</li>
								<li>
									The course organizers cannot be held responsible for the loss of materials that are
																											                  may result from errors in electronic communication.
								</li>
							</ol>
						</div>

						<div class="p-3 m-2">
							<h1>X. Copyright</h1>
							<ol>
								<li>
									The Member undertakes to use the information received as study material with the subject of the cooperation
																											                  it is not used in an unrelated manner. The training materials are provided by Máté Dániel EV Bolgár, the organizer of the training
																											                  rights, their use requires the prior written consent of the authors in all cases.
								</li>
							</ol>
							<div class="p-3 m-2">
								<h1>XI. Technical rights of the website owner</h1>
								<ol>
									<li>
										We reserve the right to modify or revise the website at any time
																														                    we may limit or terminate its availability. We draw the attention of the T. Website visitor browser
																														                    that the continuity or error-free access to the website is not guaranteed by a
																														                    Service provider.
									</li>
									<li>
										Due to the unusable state of the website or improper operation, deficiencies, possible
																														                    for direct or indirect pecuniary or non-pecuniary damage resulting from malfunctions or misunderstandings,
																														                    or other loss is expressly excluded. To settle the dispute in the event of a claim for damages
																														                    prior and peaceful consultation is required, at the headquarters or premises of the website operator, legal
																														                    in the presence of a representative. They are entitled only after signing the minutes taken at this meeting
																														                    the parties to go to court.
									</li>
									<li>
										In the event of major maintenance, the Service Provider shall notify Members in advance of min. Notifies you with 24 hours, but the external
																														                    for service provider reasons, e.g. Tárhely assumes no responsibility for malfunctions, but will do its best to a
																														                    maintains continuity of access.
									</li>
								</ol>
							</div>

							<div class="p-3 m-2">
								<h1>XII. Complaint handling</h1>
								<ol>
									<li>
										The aim of the Service Provider is to provide the service in a suitable quality, with the complete satisfaction of the Member
																														                    fulfill. If the Member has any complaints about the contract or its performance
																														                    you can also make your complaint over the phone or by e-mail. About these communication channels
																														                    You can find information on the page
										<a href="/introduction" target="_blank">introduction</a>.
									</li>
									<li>
										We inform you that if your complaint is rejected, your complaint will be handled by an official or conciliation body
																														                    you can initiate your procedure at the following contact details:
										<hr/>
										<p>National Consumer Protection Authority Address: 1088 Budapest, József krt. 6.</p>

										<p>Mailing address: 1428 Budapest, PF: 20.</p>

										<p>Central telephone number: +36 1 459 4800</p>
										<p>Email:</p>
										<a href="mailto:nfh@nfh.hu">nfh@nfh.hu
										</a>
										<hr/>
										<p>Pest County Conciliation Board</p>
										<p>Address: 1119 Budapest, Etele út 59-61. 2nd em. 240.</p>
										<p>Telephone number: (1)-269-0703</p>
										<p>Email address:</p>
										<a href="mailto:pmbekelteto@pmkik.hu">
											<p>pmbekelteto@pmkik.hu</p>
										</a>
										<hr/>
									</li>
									<li>
										<p>
											Cross-border consumers related to online sales or online service contracts
																																	                      in the event of a legal dispute, the procedure is exclusively handled by the conciliator working at the Budapest Chamber of Commerce and Industry
																																	                      competent body.
										</p>
									</li>
								</ol>
							</div>
							<div class="p-3 m-2">
								<h1>XIII. Data management</h1>

								Pursuant to the current legislation on accounting, the billing address provided by the customer and the
																								                account data is stored for the period specified in the decree, 8 years. More on that
																								                In
								<a href="/data protection policy" target="_blank">Data protection policy</a>
								the guidelines are busy.
							</div>
							<div class="p-3 m-2 mb-3">
								<h1>XIV. Miscellaneous Provisions</h1>

								The service provider is entitled to use a contributor to fulfill its obligations. The contributor is illegal
																								                the Service Provider is not responsible for his conduct.
							</div>

							<h1>General rules</h1>
							<p class="mb-3">
								In the absence of a different written agreement, these General Terms and Conditions (GTC, Regulations)
																								                Máté Dáni Bolgár, the operator of https://kodbazis.hu, appliesaway EV. (You are the copyright holder
																								                Service Provider), for services provided by them, trainings, as well as
																								                for all contracts concluded by the service provider.
							</p>

							<div class="card-body">
								<div class="card p-2 mb-2 bg-transparent-70">
									<div class="card-title">
										<h1 style="font-size: 40px" class="mb-4 mt-2 text-center">SIMPLEPAY Data Transfer Statement</h1>
									</div>
									<p class="lead mb-2">
										I understand that Bolgár Máté Dániel e.v. (HUNGARY, 1095 BUDAPEST 9 ker. MESTER UTCA 38. MF em.
																														                    1 door) by data controller a
																														                    The following stored in the user database of
										<a href="https://kodbazis.hu">https://kodbazis.hu<a>
												my personal data will be transferred to OTP Mobil Kft. (1143 Budapest, Hungária körút 17-19.), as
																																				                    for the data processor.
											</p>

											<div class="card bg-light p-2 lead">
												<span class="">
													<span>The data transmitted by the data controller is as follows:</span>
												</span>
												<ul class="mb-2">
													<li class="ms-4">In the case of a purchase with a receipt: Email address</li>
													<li class="mb-2 ms-4">
														In the case of an invoiced purchase: Name/company name, Tax number, Email address, Postal code, City, Address
													</li>
												</ol>

											</div>

											<p class="mb-4">
												The nature and purpose of the data processing activity carried out by the data processor is SimplePay Data Management
																																				                    can be viewed in the information sheet on this page:
												<a href="http://simplepay.hu/vasarlo-aff" target="_blank">http://simplepay.hu/vasarlo-aff</a>
											</p>
											<div class="w-100">
												<img class="img-fluid w-100 p-3 m-auto" src="/public/images/simplepay_logo2.png"/>
											</div>
										</div>
									</p>
								</div>

								<p class="text-center">2021. January 18
								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
