<table border="0" cellpadding="0" cellspacing="0" style="margin:0px;padding:0px;border:0px;width:580px" width="580">
	<tbody>
		<tr>
			<td style="padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px" valign="top"></td>
		</tr>
		<tr>
			<td style="margin:0px;padding:0px;border:0px;text-align:left" valign="top">
				<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
					<tbody>
						<tr>
							<td style="margin:0px;padding:0px;border:0px" valign="top">
								<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
									<tbody>
										<tr>
											<td style="margin:0px;padding:0px;border:0px;text-align:left" valign="top">
												<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
													<tbody>
														<tr>
															<td style="padding-left:8px;padding-right:8px">
																<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
																	<tbody>
																		<tr>
																			<td style="padding:8px;text-align:left" valign="top">
																				<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0px;border:0px;width:100%;min-width:100%" width="100%">
																					<tbody>
																						<tr>
																							<td>
																								<h1 style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-weight:bold;font-size:24px;line-height:32px;margin-bottom:8px;display:block">
																									Erősítsd meg az e-mail címed
																								</h1>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								<span style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px">Nemrég létre lett hozva az alábbi e-mail címhez tartozó felhasználói fiók:
																									<span>
																										<a href="mailto:{{email}}" target="_blank">{{email}}</a>
																									</span>
																								</span>
																							</td>
																						</tr>
																						<tr>
																							<td>
																								<span style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;margin-bottom:8px">A teljes hozzáféréshez az e-mail cím megerősítése szükséges. Kérjük, kattints a "<span class="il">Megerősítés</span>" gombra.</span>
																							</td>
																						</tr>
																						<tr>
																							<td style="padding:16px">
																								<table border="0" cellpadding="0" cellspacing="0" width="100%">
																									<tbody>
																										<tr>
																											<td style="text-align:center">
																												<a style="text-decoration:none" class="m_4325997054331131087button" href="{{link}}">
																													<table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto" width="100%">
																														<tbody>
																															<tr>
																																<td align="center" bgcolor="#0898FF" class="m_4325997054331131087button-inner" style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:14px;line-height:20px;text-align:center;color:#ffffff;background:#0898ff;border-radius:3px;border:1px solid #0898ff;background:#0898ff;padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px" valign="middle">
																																	<a style="text-decoration:none" class="m_4325997054331131087button-link" href="{{link}}">
																																		<span class="il" style="color:white">Megerősítés</span>
																																	</a>
																																</td>
																															</tr>
																														</tbody>
																													</table>
																												</a>
																											</td>
																										</tr>
																									</tbody>
																								</table>
																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding-top:8px;padding-right:16px;padding-bottom:8px;padding-left:16px;padding-bottom:16px;text-align:center" valign="top">
				<hr style="margin:0px;padding:0px;border:0px;margin-top:16px;margin-bottom:16px;border-bottom:1px solid #ededed;margin-top:0">
				<p style="font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;margin:0px;padding:0px;border:0px;font-size:12px;line-height:18px;color:#707070;margin-bottom:8px">
					CodeSteppers © 2022.<br>
				</p>
			</td>
		</tr>
	</tbody>
</table>
