<?xml version = "1.0"?>
<root>
  <meta>
    <type>app</type>
  </meta>

  <body>
    <scriptUrls>
      <item>/public/codeStepperContent/javascript-gyakorlo-feladatsor/formak/script.js</item>
    </scriptUrls>
    <styleUrls>
      <item>/public/css/fonts/fontawesome/css/fontawesome-all.css</item>
      <item>/public/codeStepperContent/javascript-gyakorlo-feladatsor/formak/style.css</item>
    </styleUrls>
    <content>
      <h1 class="text-center mb-2 display-6">
        <b>Első feladat</b>
      </h1>
      <p class="mb-3">
        A gombra való kattintáskor növeld, vagy csökkentsd 1-gyel a kiválasztott formában lévő értéket, attól függően, hogy a radio gombok közül melyik van bepipálva.
      </p>
      <h2 class="text-center mb-2">
        <b>Végeredmény:</b>
      </h2>

      <div class="bg-light border rounded p-2">
        <form id="shapes">
          <select class="form-control" name="selectedShape">
            <option value="circle">Kör</option>
            <option value="square" selected="selected">Négyzet</option>
            <option value="rectangle">Téglalap</option>
          </select>
          <br/>
          <label class="radio-inline me-5">
            <span class="fa fa-plus"></span>
            <input type="radio" name="action" value="increment" checked="checked"/>
          </label>
          <label class="radio-inline">
            <span class="fa fa-minus"></span>
            <input type="radio" name="action" value="decrement"/>
          </label>
          <br/>
          <br/>
          <button type="submit" class="btn btn-primary d-inline-block">
            Küldés
          </button>
        </form>
        <br/>
        <div class="w-100">
          <div id="sh-circle" class="center d-inline-block">0</div>
          <div id="sh-square" class="center d-inline-block">0</div>
          <div id="sh-rectangle" class="center d-inline-block">0</div>
        </div>
      </div>
      <div class="text-center m-2 d-flex">
        <a class="m-auto btn btn-sm btn-primary me-2" href="/public/codeStepperContent/javascript-gyakorlo-feladatsor/formak/formak-sablon.zip">
          Töltsd le a sablon fájlokat
        </a>

        <a target="_blank" class="m-auto btn btn-sm btn-outline-danger" href="/codestepper-szerkeszto">
          Készíts feladatsort
          <span class="fa fa-arrow-circle-right"></span>
        </a>
      </div>

    </content>
  </body>
</root>
